@model IEnumerable<wave_application.Models.Assemblage>
@{
    ViewData["Title"] = "Index";
}
@if (TempData["AlertSuccess"] != null)
{
    <div class="alert alert-success">
        <strong>Succès : </strong>@TempData["AlertSuccess"]
    </div>
}
<h1>Historique de l'assemblage</h1>

<p>
    <a class="btn btn-primary"  asp-action="Index">Retour</a>
    @if (Model != null && Model.Count() > 0)
    {
        <a href="@Url.Action("DownloadPdf", "Assemblage")"> <img src="~/img/document-pdf.svg" id="pdf" /></a>
    }
</p>

@if(Model != null && Model.Count() > 0){
<table class="table table-bordered table-striped">
    <thead class="text-center">
        <tr>
            <th>
                N° OF
            </th>
            <th>
                N° Article
            </th>
            <th>
                Quantité
            </th>
            <th>
                N° Carton
            </th>
            <th>
                Opérateur
            </th>

            <th>
                Date
            </th>
            <th>
                Fin Palette
            </th>
            <th>
                Fin OF
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Of)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Article)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carton)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Operateur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinPalette)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinOf)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Modifier</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}
else{
    <h1 > La liste est vide</h1>
}